* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #eaf3e7;
    --background: rgb(9, 14, 7);
    --primary: 170, 206, 161;
    --secondary: 57, 111, 83;
    --accent: 88, 167, 138;
}

img {
    width: 50px;
}

body {
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template: 1fr 7fr / 1fr 7fr;
}

#sidebar {
    font-weight: 500;
    background-color: rgba(var(--accent), 0.5);
    padding: 24px;
    min-width: 175px;
    grid-area: 1 / 1 / 3 / 2;
}

#sidebar > .title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

#sidebar > ul {
    display: grid;
    grid-template: repeat(9, 1fr) / 1fr;
    gap: 16px;
    margin-left: 10px;
    list-style-type: none;
}

li {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    align-items: center;
    gap: 12px;
}

li > img {
    width: 30px;
}

#header {
    min-height: 12.5vh;
    box-sizing: content-box;
    padding: 8px;
    grid-area : 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    align-items: center;
}

#header #search {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    gap: 8px;
    align-items: center;
}

#search > input {
    width: 44vw;
    height: 20px;
}

#header #quickActions {
    justify-self: end;
}

#header img {
    padding: 16px;
    width: 30px;
}

#header #hello {
    display: flex;
    gap: 8px;
    align-items: center;
}

#hello img {
    width: 50px;
}

#header button{
    padding: 12px;
    color: yellow;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}