* {
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

aside {
    grid-area: 1 / 1 / 3 / 2;
}

header {
    grid-area : 1 / 2 / 2 / 3;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}